<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<appSettings>
		<add key="com.amazonaws.s3.AmazonS3" value="https://s3.amazonaws.com/soap"/>
        <add key="paypalPDTAuthKey" value="2j8hWz1kwE6yK-AICLmcV7wmXFrjXUVHT7ymvxtBsw4QWzZnUQAYdzCHSEG"  />
        <add key="paypalmerchantActNumber" value="CNJDC2DA4AQFJ"  />
        <add key="PayPalSubmitUrl" value="https://www.sandbox.paypal.com/cgi-bin/webscr"/>
	</appSettings>
	<connectionStrings>
		<!-- 
        <add name="userConnection" connectionString="Data Source=SWEETYPRADIS-PC;Initial Catalog=aspnetdb;user=p649pm;password=prads#123"/>
        <add name="eastManDB" connectionString="Data Source=SWEETYPRADIS-PC;Initial Catalog=EastDB;user=p649pm;password=prads#123"/>
        -->
        <add name="userConnection"  connectionString="Data Source=ns1.violet.arvixe.com;Initial Catalog=aspLoginID;user=pradsAdmin;password=prads#123"/>
		<add name="eastManDB"       connectionString="Data Source=ns1.violet.arvixe.com;Initial Catalog=EastDB;user=pradsAdmin;password=prads#123"/>
        <add name="rattleDB"        connectionString="Data Source=ns1.violet.arvixe.com;Initial Catalog=RattleA;user=pradsMsgGrp;password=prads#123"/>
        <!-- 
        <add name="eastManDB" connectionString="Data Source=SWEETYPRADIS-PC\MSSQLSERVER8R2;Initial Catalog=EastDB;user=pradsMsgGrp;password=prads#123"/>
        <add name="rattleDB" connectionString="Data Source=SWEETYPRADIS-PC\MSSQLSERVER8R2;Initial Catalog=RattleA;user=pradsMsgGrp;password=prads#123"/>
        -->
    </connectionStrings>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->

        <roleManager enabled="true" defaultProvider="SqlRoleManager1">
			<providers>
				<add connectionStringName="userConnection" name="SqlRoleManager1" applicationName="/" type="System.Web.Security.SqlRoleProvider"/>
			</providers>
		</roleManager>
	 	<compilation debug="true"  targetFramework="4.0" >
			<assemblies>
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.DynamicData, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.ComponentModel.DataAnnotations, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies>
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Forms">
			<forms timeout="30"></forms>
		</authentication>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
        -->
		<customErrors mode="Off">
			<!--defaultRedirect="GenericErrorPage.htm">
            <error statusCode="401" redirect="NoAccess.htm" />
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="NoAccess.htm" />
            -->
		</customErrors>
		<membership defaultProvider="AspNetSqlMembershipProvider1">
			<providers>
				<add name="AspNetSqlMembershipProvider1" type="System.Web.Security.SqlMembershipProvider" connectionStringName="userConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="/" requiresUniqueEmail="true" passwordFormat="Hashed" maxInvalidPasswordAttempts="25" minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="1" passwordAttemptWindow="10" passwordStrengthRegularExpression=""/>
			</providers>
		</membership>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <!--     <httpHandlers>
            <add verb="*" path="*.gif" type="com.kendar.utils.DebugHttpHandler"/>
            <add verb="*" path="*.jpg" type="com.kendar.utils.DebugHttpHandler"/>
            <add verb="*" path="*.jpeg" type="com.kendar.utils.DebugHttpHandler"/>
            <add verb="*" path="*.css" type="com.kendar.utils.DebugHttpHandler"/>
            <add verb="*" path="*.htm" type="com.kendar.utils.DebugHttpHandler"/>
            <add verb="*" path="*.html" type="com.kendar.utils.DebugHttpHandler"/>
            <add verb="*" path="*.shtml" type="com.kendar.utils.DebugHttpHandler"/>
            <add verb="*" path="*.png" type="com.kendar.utils.DebugHttpHandler"/>
            <add verb="*" path="*.txt" type="com.kendar.utils.DebugHttpHandler"/>
            <add verb="*" path="*.xml" type="com.kendar.utils.DebugHttpHandler"/>
        </httpHandlers>
    -->
    </system.web>
	<location path="BizUsers">
		<system.web>
			<authorization>
				<allow roles="bizOwner"/>
				<deny roles="surfer"/>
				<deny users="?"/>
			</authorization>
			<!--  <customErrors defaultRedirect ="GenericErrorPage.htm">
                <error statusCode ="401" redirect ="NoAccess.htm"/>
            </customErrors>-->
		</system.web>
	</location>
	<location path="secPages">
		<system.web>
			<authorization>
				<deny users="?"/>
			</authorization>
			<customErrors defaultRedirect="GenericErrorPage.htm">
				<error statusCode="401" redirect="NoAccess.htm"/>
				<error statusCode="404" redirect="NoAccess.htm"/>
			</customErrors>
		</system.web>
	</location>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.net>
		<mailSettings>
			<smtp>
				<network host="mail.patrates.com"
                 userName="support@patrates.com"
                 password="prads#123"/>
			</smtp>
		</mailSettings>
	</system.net>
     
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService1" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.api.myrattles.com/Service.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1"
                contract="apiMyrattles.IService" name="BasicHttpBinding_IService1" />
        </client>
    </system.serviceModel>
</configuration>
