
#wrapperv2,#printCpn{ display:none ; }
#couponGen {  width:50em;
               white-space:normal ;  }
#fancybox-close{ visibility:hidden ;   } 
/*#fancybox-outer { position:  relative ;
                    right:90px;
                     z-index:3000; }   
*/